body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-size: 12px;
    color: #666;
}

header a {
    color: inherit;
    text-decoration: inherit;
}

h1, h2 , h3{
    
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 5px;
}
h2 {
    font-size: x-large;
    font-style: italic;
}

h3 {
    font-size: larger;
}

