@using ContactManager.ViewModels
@model BasisViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Contact Manager : @Model.Titel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    
    @RenderSection("pageSpecificScripts", required: false)
</head>
<body>
<h1>Contact Manager</h1>
<h2>@Model.Titel</h2>

<main>
    @RenderBody()
</main>
    

</body>
</html>